## How to use snscrape to fetch tweets

Tutorial from https://betterprogramming.pub/how-to-scrape-tweets-with-snscrape-90124ed006af

In [36]:
#!pip install snscrape

In [37]:
import os

# Using OS library to call CLI commands in Python
if os.path.exists('./text_data/'):
    print('text_data folder exists')
else:
    os.makedirs('./text_data/')
    
os.system("snscrape --jsonl --max-results 100 twitter-search 'from:jack'> ./text_data/user-tweets.json")

0

In [38]:
os.system("snscrape --jsonl --max-results 500 --since 2020-06-01 twitter-search \"its the elephant until:2020-07-31\" > ./text_data/text-query-tweets.json")

0

In [39]:
import pandas as pd

# Reads the json generated from the CLI commands above and creates a pandas dataframe
tweets_df = pd.read_json('text_data/text-query-tweets.json', lines=True)

In [40]:
tweets_df

,_type,url,date,content,renderedContent,id,user,replyCount,retweetCount,likeCount,...,media,retweetedTweet,quotedTweet,inReplyToTweetId,inReplyToUser,mentionedUsers,coordinates,place,hashtags,cashtags
0,snscrape.modules.twitter.Tweet,https://twitter.com/TylerPaulUtt1/status/12889...,2020-07-30 23:57:02+00:00,@SiBuduh @langoinstitute do you know the Ko wo...,@SiBuduh @langoinstitute do you know the Ko wo...,1288986997143601152,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,0,0,...,None,NaN,None,1.288985e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,None,None
1,snscrape.modules.twitter.Tweet,https://twitter.com/EndlessSynthwav/status/128...,2020-07-30 23:44:04+00:00,@RockstarGames Any idea if the elephant rifle ...,@RockstarGames Any idea if the elephant rifle ...,1288983731122966534,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,None,NaN,None,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,None,None
2,snscrape.modules.twitter.Tweet,https://twitter.com/aanalyst50/status/12889677...,2020-07-30 22:40:40+00:00,@realDonaldTrump Trump just keeps ignoring the...,@realDonaldTrump Trump just keeps ignoring the...,1288967774795116550,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,1,...,None,NaN,None,1.288966e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,None,None
3,snscrape.modules.twitter.Tweet,https://twitter.com/RozzBozzy/status/128896692...,2020-07-30 22:37:18+00:00,@cslogan88 Famous 19th century song from Engla...,@cslogan88 Famous 19th century song from Engla...,1288966929236066309,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,None,NaN,None,1.288966e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...",None,None,None,None,None
4,snscrape.modules.twitter.Tweet,https://twitter.com/alfred_hanan/status/128896...,2020-07-30 22:32:44+00:00,@realDonaldTrump #RepublicanTrumpVirus.\nLets ...,@realDonaldTrump #RepublicanTrumpVirus.\nLets ...,1288965780030144512,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,None,NaN,None,1.288947e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,[RepublicanTrumpVirus],None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,snscrape.modules.twitter.Tweet,https://twitter.com/webbdoors/status/128635211...,2020-07-23 17:26:57+00:00,@AncaMaraScribes @jemelehill its the gigantic ...,@AncaMaraScribes @jemelehill its the gigantic ...,1286352110620205061,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,0,...,None,NaN,None,1.286325e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,None,None
496,snscrape.modules.twitter.Tweet,https://twitter.com/jasonoruairc/status/128634...,2020-07-23 17:01:19+00:00,@Angelinekking It's a massive white elephant t...,@Angelinekking It's a massive white elephant t...,1286345659596058625,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,0,1,...,None,NaN,None,1.286284e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,None,None
497,snscrape.modules.twitter.Tweet,https://twitter.com/peter102746/status/1286345...,2020-07-23 16:59:21+00:00,"@CBCOttawa @KimberleyMolina So, can we just ha...","@CBCOttawa @KimberleyMolina So, can we just ha...",1286345167453278211,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,0,1,...,None,NaN,None,1.286257e+18,"{'_type': 'snscrape.modules.twitter.User', 'us...","[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,None,None
498,snscrape.modules.twitter.Tweet,https://twitter.com/Lanredeola/status/12863229...,2020-07-23 15:31:13+00:00,Our wall is full. Can we still get space for m...,Our wall is full. Can we still get space for m...,1286322986841182209,"{'_type': 'snscrape.modules.twitter.User', 'us...",0,1,4,...,"[{'_type': 'snscrape.modules.twitter.Photo', '...",NaN,None,NaN,None,"[{'_type': 'snscrape.modules.twitter.User', 'u...",None,None,"[YNWA, EPLChampions]",None
499,snscrape.modules.twitter.Tweet,https://twitter.com/theginoubasgopo/status/128...,2020-07-23 15:29:32+00:00,The elephant even raised its trunk on cue http...,The elephant even raised its trunk on cue twit...,1286322562062925824,"{'_type': 'snscrape.modules.twitter.User', 'us...",1,0,1,...,None,NaN,"{'_type': 'snscrape.modules.twitter.Tweet', 'u...",NaN,None,None,None,None,None,None

In [41]:
import snscrape.modules.twitter as sntwitter
import pandas as pd

# Creating list to append tweet data to
tweets_list1 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('from:jack').get_items()):
    if i>100:
        break
    tweets_list1.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.hashtags])
    
# Creating a dataframe from the tweets list above 
tweets_df1 = pd.DataFrame(tweets_list1, columns=['Datetime', 'Tweet Id', 'Text', 'Username', 'Hashtags'])

In [42]:
tweets_df1

,Datetime,Tweet Id,Text,Username,Hashtags
0,2023-01-02 01:13:43+00:00,1609719555827408897,@damusapp 👀,jack,None
1,2023-01-01 06:00:30+00:00,1609429338641793027,pura vida,jack,None
2,2022-12-30 19:05:37+00:00,1608902142924062722,@jb55 👀,jack,None
3,2022-12-29 06:11:20+00:00,1608344900361244672,https://t.co/bBQhvGML79,jack,None
4,2022-12-29 01:17:20+00:00,1608270911639109639,@suhailsaqan Nice work,jack,None
...,...,...,...,...,...
96,2022-12-16 14:53:55+00:00,1603765371810480128,"@satoshihoarder_ one of, there are many web cl...",jack,None
97,2022-12-16 14:52:49+00:00,1603765092977344512,@BitcoinJungleCR @agbegin I think they are con...,jack,None
98,2022-12-16 14:50:24+00:00,1603764483503321088,@albumaurum not yet,jack,None
99,2022-12-16 14:50:16+00:00,1603764451085352960,@Maupettinato in my bio,jack,None
100,2022-12-16 14:18:07+00:00,1603756361786851329,@OpinionMachine2 @dergigi not a wallet,jack,None

In [43]:
# Creating list to append tweet data to
tweets_list2 = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('its the elephant since:2020-06-01 until:2020-07-31').get_items()):
    if i>500:
        break
    tweets_list2.append([tweet.date, tweet.id, tweet.content, tweet.user.username])
    
# Creating a dataframe from the tweets list above
tweets_df2 = pd.DataFrame(tweets_list2, columns=['Datetime', 'Tweet Id', 'Text', 'Username'])

In [44]:
tweets_df2

,Datetime,Tweet Id,Text,Username
0,2020-07-30 23:57:02+00:00,1288986997143601152,@SiBuduh @langoinstitute do you know the Ko wo...,TylerPaulUtt1
1,2020-07-30 23:44:04+00:00,1288983731122966534,@RockstarGames Any idea if the elephant rifle ...,EndlessSynthwav
2,2020-07-30 22:40:40+00:00,1288967774795116550,@realDonaldTrump Trump just keeps ignoring the...,aanalyst50
3,2020-07-30 22:37:18+00:00,1288966929236066309,@cslogan88 Famous 19th century song from Engla...,RozzBozzy
4,2020-07-30 22:32:44+00:00,1288965780030144512,@realDonaldTrump #RepublicanTrumpVirus.\nLets ...,alfred_hanan
...,...,...,...,...
496,2020-07-23 17:01:19+00:00,1286345659596058625,@Angelinekking It's a massive white elephant t...,jasonoruairc
497,2020-07-23 16:59:21+00:00,1286345167453278211,"@CBCOttawa @KimberleyMolina So, can we just ha...",peter102746
498,2020-07-23 15:31:13+00:00,1286322986841182209,Our wall is full. Can we still get space for m...,Lanredeola
499,2020-07-23 15:29:32+00:00,1286322562062925824,The elephant even raised its trunk on cue http...,theginoubasgopo
500,2020-07-23 15:18:15+00:00,1286319725769666560,"@welcomet0nature Karma, at its finest. Good ri...",AstralDeva4

In [45]:
# Creating list to append tweet data to
chicken_tweets = []

# Using TwitterSearchScraper to scrape data and append tweets to list
for i,tweet in enumerate(sntwitter.TwitterSearchScraper('chicken cost near:"Athlone" within:300km since:2022-01-01 until:2023-01-01').get_items()):
    if i>1000: #maybe way tooo many tweets but I don't want the most recent 1000
        break  #I want tweets spread out the entire year
    chicken_tweets.append([tweet.date, tweet.id, tweet.content, tweet.user.username, tweet.hashtags])
    
# Creating a dataframe from the tweets list above
df_chicken_tweets = pd.DataFrame(chicken_tweets, columns=['Datetime', 'Tweet Id', 'Text', 'Username', 'Hashtags'])

In [46]:
df_chicken_tweets

,Datetime,Tweet Id,Text,Username,Hashtags
0,2022-12-29 17:29:50+00:00,1608515649294196736,@AddressingLife Completely agree-chicken pox s...,Rosemary_Murphy,None
1,2022-12-19 10:31:47+00:00,1604786566094016513,Theory / Test. For #inflation to see price gou...,meltedlaughter,[inflation]
2,2022-12-04 10:09:56+00:00,1599345248379236353,@Kernow27 Nut loaf verses chicken probably muc...,jen_jstephen,None
3,2022-09-20 19:40:21+00:00,1572309711340421122,Looks like someone chewed up the chicken and s...,brodstanaccount,None
4,2022-05-21 23:12:05+00:00,1528151675986399233,@FusionKilcar @ComerfordRocks @CllrFionaRyan @...,mistereatgalway,None

In [47]:
df_chicken_tweets['Text'].values

array(['@AddressingLife Completely agree-chicken pox should be part of the standard vaccination schedule. The cost currently prevents many people from being able to access it.',
       "Theory / Test. For #inflation to see price gouging or a lag, look down the supply chain, and see how much it costs Vs end product. Simple imperfect example. Eggs. (maybe use organic) buying X eggs Vs having a chicken to keep and feed. What's the cost difference?",
       '@Kernow27 Nut loaf verses chicken probably much of a muchness on cost',
       'Looks like someone chewed up the chicken and spat it into the roll. Probs cost €7 then to make it even worse. https://t.co/zZhAlYuHKv',
       '@FusionKilcar @ComerfordRocks @CllrFionaRyan @ciicciicciic @Eintrachtrob @adriancummins @Apple Take chicken for example. It should cost around €10-€12. But most people go for the cheap one, discounted to €5 and then say "it\'s terrible people in supermarkets are minimum wage". Same argument for restaurant. Buy cheap and then complain.'],
      dtype=object)

Quick foray into reddit - at least I can get location subreddits

In [48]:
#!pip install praw

In [49]:
#!pip install python-dotenv

In [50]:
from dotenv import dotenv_values

config = dotenv_values(".env")

In [51]:
config.keys()

odict_keys(['CLIENT_ID', 'CLIENT_SECRET', 'USER_AGENT', 'USERNAME', 'PASSWORD'])

In [52]:
import praw
import pandas as pd


# Acessing the reddit api

reddit = praw.Reddit(client_id=config['CLIENT_ID'],      # your client id
                     client_secret=config['CLIENT_SECRET'],  #your client secret
                     user_agent=config['USER_AGENT'], #user agent name
                     username = config['USERNAME'],     # your reddit username
                     password = config['PASSWORD'])     # your reddit password

In [53]:
#code block taken from 
# https://github.com/parth647/reddit_scraping_using_praw/blob/019ee909ff23911f00679503520d6864842419a9/python_reddit_scrapy.py

sub = ['Ireland']  # make a list of subreddits you want to scrape the data from

for s in sub:
    
    subreddit = reddit.subreddit(s)   # Chosing the subreddit
    
########################################
#   CREATING DICTIONARY TO STORE THE DATA WHICH WILL BE CONVERTED TO A DATAFRAME
########################################

#   NOTE: ALL THE POST DATA AND COMMENT DATA WILL BE SAVED IN TWO DIFFERENT
#   DATASETS AND LATER CAN BE MAPPED USING IDS OF POSTS/COMMENTS AS WE WILL 
#   BE CAPTURING ALL IDS THAT COME IN OUR WAY

# SCRAPING CAN BE DONE VIA VARIOUS STRATEGIES {HOT,TOP,etc} we will go with keyword strategy i.e using search a keyword
    query = ['chicken cost', 'chicken price']

    for item in query:
        post_dict = {
            "title" : [],
            "score" : [],
            "id" : [],
            "url" : [],
            "comms_num": [],
            "created" : [],
            "body" : []
        }
        comments_dict = {
            "comment_id" : [],
            "comment_parent_id" : [],
            "comment_body" : [],
            "comment_link_id" : []
        }
        for submission in subreddit.search(item,sort = "new",limit = 50):
            post_dict["title"].append(submission.title)
            post_dict["score"].append(submission.score)
            post_dict["id"].append(submission.id)
            post_dict["url"].append(submission.url)
            post_dict["comms_num"].append(submission.num_comments)
            post_dict["created"].append(submission.created_utc)
            post_dict["body"].append(submission.selftext)
            
            ##### Acessing comments on the post
            submission.comments.replace_more(limit = 20)
            for comment in submission.comments.list():
                if 'chicken' in comment.body or 'price' in comment.body or 'cost' in comment.body: # < -- my little addition
                    comments_dict["comment_id"].append(comment.id)
                    comments_dict["comment_parent_id"].append(comment.parent_id)
                    comments_dict["comment_body"].append(comment.body)
                    comments_dict["comment_link_id"].append(comment.link_id)
        
        if os.path.exists('./text_data/'):
            print('text_data folder exists')
        else:
            os.makedirs('./text_data/')
        
        post_comments = pd.DataFrame(comments_dict)
        post_comments.to_csv('./text_data/'+s+"_comments_"+ item +"subreddit.csv")

        post_data = pd.DataFrame(post_dict)
        post_data['created'] = pd.to_datetime(post_data['created'], unit='s') # also me
        post_data.to_csv('./text_data/'+s+"_"+ item +"subreddit.csv")

text_data folder exists
text_data folder exists

In [54]:
df_cost_post = pd.read_csv('text_data/Ireland_chicken costsubreddit.csv', parse_dates=['created'])
df_cost_comment = pd.read_csv('text_data/Ireland_comments_chicken costsubreddit.csv')
df_price_post = pd.read_csv('text_data/Ireland_chicken pricesubreddit.csv', parse_dates=['created'])
df_price_comment = pd.read_csv('text_data/Ireland_comments_chicken pricesubreddit.csv')

In [55]:
df_cost_post

,Unnamed: 0,title,score,id,url,comms_num,created,body
0,0,Cost of Chicken Rolls crisis,0,z9ucew,https://www.reddit.com/r/ireland/comments/z9uc...,5,2022-12-01 17:50:48,Ordered a roll today it was €5.00 for meat + 2...
1,1,Are they seriously trying to say burglaries ar...,0,yus6a0,https://www.reddit.com/r/ireland/comments/yus6...,34,2022-11-14 07:40:26,Just watching two twits on Virgin am bang on a...
2,2,How much does a chicken fillet roll cost in yo...,0,y47quq,https://www.reddit.com/r/ireland/comments/y47q...,9,2022-10-14 22:51:14,I go to college in limerick and the on-campus ...
3,3,Cheap and Easy Meal Plans to ease costs,24,xhrv7m,https://www.reddit.com/r/ireland/comments/xhrv...,18,2022-09-18 20:57:31,"I dont think its just me right now, but i cert..."
4,4,Still some good value out there!,26,x858hf,https://www.reddit.com/gallery/x858hf,39,2022-09-07 13:31:41,NaN
5,5,"Fellas, the boom is back, either that or weima...",11,s9ftsx,https://www.reddit.com/r/ireland/comments/s9ft...,26,2022-01-21 17:20:44,My mam decided to get me a roll (butter and ch...
6,6,Will you do more grocery shopping in the north...,0,rsx04s,https://www.reddit.com/r/ireland/comments/rsx0...,24,2021-12-31 16:03:30,Lots of items are already much cheaper in the ...
7,7,Judge picks a bone with cost of legal action i...,14,ocwsye,https://www.donegaldaily.com/2021/07/02/judge-...,14,2021-07-03 12:05:12,NaN
8,8,How many calories does a 3 in 1 from a Chinese...,0,k75ce3,https://www.reddit.com/r/ireland/comments/k75c...,13,2020-12-05 10:37:43,"Chips, curry, chicken balls and spice bag\n\nH..."
9,9,Trusting the system,0,i9asdn,https://www.reddit.com/r/ireland/comments/i9as...,8,2020-08-13 23:25:24,How do you go about trusting a system again wh...
10,10,What do you get on your chicken fillet rolls a...,3,bfbwnz,https://www.reddit.com/r/ireland/comments/bfbw...,30,2019-04-20 12:56:52,Just thought of the most Irish thing I could a...
11,11,Literally not one place does a 3 in 1 in the U...,27,bdx7w2,https://www.reddit.com/r/ireland/comments/bdx7...,41,2019-04-16 18:15:26,Been here a long time now and I have not found...
12,12,Where do you buy your meat?,5,a040zo,https://www.reddit.com/r/ireland/comments/a040...,45,2018-11-25 00:46:38,Just wondering. I spend 5 Euros on 3 chicken b...
13,13,Could you eat a three foot chicken fillet roll...,1,7yhkdn,https://streamable.com/zvi9y,10,2018-02-18 21:37:12,NaN
14,14,How do Irish farming practices compare to thos...,4,4fo6gj,https://www.reddit.com/r/ireland/comments/4fo6...,21,2016-04-20 16:29:21,You see some horrible things in footage of fac...

In [56]:
df_price_post

,Unnamed: 0,title,score,id,url,comms_num,created,body
0,0,Chicken Scandal Rolls,0,zz4z0l,https://www.reddit.com/r/ireland/comments/zz4z...,11,2022-12-30 16:39:52,Most like the rest of the country. Christmas t...
1,1,"Before/After from a Yank, Part 2",229,z71pjf,https://www.reddit.com/r/ireland/comments/z71p...,127,2022-11-28 16:58:28,"The ""before"" can be found [here](https://www.r..."
2,2,Now €20 for a kebab - Zaytoon,278,ywhon1,https://www.reddit.com/r/ireland/comments/ywho...,117,2022-11-16 02:55:04,"I know there have been threads previously, but..."
3,3,Is anybody elses local chinese take away on th...,34,yjko7f,https://www.reddit.com/r/ireland/comments/yjko...,64,2022-11-01 20:40:43,"For what seems like forever, chinese was the o..."
4,4,"Almost too good to be true, spar on douglas st...",188,xx5j03,https://i.redd.it/gav6gsrav6s91.jpg,28,2022-10-06 13:39:23,NaN
5,5,Cost of living taking the absolute piss,216,xogeuq,https://www.reddit.com/r/ireland/comments/xoge...,278,2022-09-26 11:18:20,Whole chicken was 4.99 a month ago. Walk into ...
6,6,Cheap and Easy Meal Plans to ease costs,24,xhrv7m,https://www.reddit.com/r/ireland/comments/xhrv...,18,2022-09-18 20:57:31,"I dont think its just me right now, but i cert..."
7,7,Still some good value out there!,25,x858hf,https://www.reddit.com/gallery/x858hf,39,2022-09-07 13:31:41,NaN
8,8,"With talks of €7.45 for a chicken fillet roll,...",227,w4pwub,https://i.imgur.com/ja8EwIt.jpg,26,2022-07-21 19:49:00,NaN
9,9,I was sad until I went grocery shopping today!...,0,vdp3cf,https://www.reddit.com/r/ireland/comments/vdp3...,9,2022-06-16 15:51:58,I'd created a [post](https://www.reddit.com/r/...
10,10,List of ways to save serious money on food,607,tz1f3j,https://www.reddit.com/r/ireland/comments/tz1f...,349,2022-04-08 11:30:06,"Growing up in a ""thrifty"" household and then s..."
11,11,The most disappointed I’ve been since restrict...,1801,sri6lk,https://www.reddit.com/r/ireland/comments/sri6...,132,2022-02-13 13:03:19,Yesterday I had an amazing time. Was like the ...
12,12,Will you do more grocery shopping in the north...,1,rsx04s,https://www.reddit.com/r/ireland/comments/rsx0...,24,2021-12-31 16:03:30,Lots of items are already much cheaper in the ...
13,13,Is Irish beef considered good in Ireland?,0,nxg988,https://www.reddit.com/r/ireland/comments/nxg9...,45,2021-06-11 13:41:24,I've been thinking about this for several year...
14,14,Question about Ireland and pricing! So a local...,1,hkoztb,https://i.redd.it/zet17zdcyo851.jpg,44,2020-07-03 19:10:22,NaN
15,15,What can €1 actually buy you these days?,5,ha52zg,https://www.reddit.com/r/ireland/comments/ha52...,26,2020-06-16 14:30:12,"If you walked into a supermarket, discounter o..."
16,16,Have we reached peak chicken fillet roll price...,32,belv3j,https://imgur.com/aKFmXjp,18,2019-04-18 13:58:01,NaN
17,17,Home economics classes for adults?,23,aksz2l,https://www.reddit.com/r/ireland/comments/aksz...,35,2019-01-28 22:27:45,Does such a thing exist?\n\nMy (21F) partner (...
18,18,Dublin City University student reacts after hi...,81,9ni0qp,https://www.dublinlive.ie/news/dublin-news/dcu...,61,2018-10-12 06:52:14,NaN
19,19,"Tips for dealing with the raw, red devil that ...",0,8utui8,https://www.reddit.com/r/ireland/comments/8utu...,11,2018-06-29 15:07:21,Feeling like a price of dry southern fried chi...

In [57]:
df_cost_comment

,Unnamed: 0,comment_id,comment_parent_id,comment_body,comment_link_id
0,0,iyim5h2,t3_z9ucew,Leo has spoken.\nChicken rolls cost just as mu...,t3_z9ucew
1,1,iyildmx,t3_z9ucew,It's the price of flour,t3_z9ucew
2,2,iyjvqmh,t3_z9ucew,It is the cost of electricity doing it to be h...,t3_z9ucew
3,3,iwb0bda,t3_yus6a0,"No, that chicken fillet roll may not push you ...",t3_yus6a0
4,4,iwb0zl5,t3_yus6a0,"You've misunderstood what they are saying, the...",t3_yus6a0
...,...,...,...,...,...
84,84,dugq57d,t3_7yhkdn,I'd have a go. That's 3 hot chicken rolls with...,t3_7yhkdn
85,85,duh1p3u,t1_dugq57d,All they have to do is slightly overcook the b...,t3_7yhkdn
86,86,d2ahpkz,t3_4fo6gj,"I can't say much about chicken, but Irish farm...",t3_4fo6gj
87,87,d2ax65l,t3_4fo6gj,Like most farms in the EU. Irish farms are qui...,t3_4fo6gj
88,88,d2awzo5,t3_4fo6gj,I'm pretty sure non free range chicken is the ...,t3_4fo6gj

In [58]:
df_price_comment

,Unnamed: 0,comment_id,comment_parent_id,comment_body,comment_link_id
0,0,j29gbh2,t3_zz4z0l,>is there a justification for such a hike in p...,t3_zz4z0l
1,1,j29h55l,t3_zz4z0l,"If your paying fiver for full chicken roll, I ...",t3_zz4z0l
2,2,j29he8l,t3_zz4z0l,This 'chicken roll' craic has reached 'the imm...,t3_zz4z0l
3,3,j29gg2t,t3_zz4z0l,I paid 5.60 for one in wexford recently and co...,t3_zz4z0l
4,4,j29jzzp,t3_zz4z0l,"chicken has gone up in price in general, infl...",t3_zz4z0l
...,...,...,...,...,...
281,281,e7mphjd,t3_9ni0qp,"I’m abroad and sickly currently, would murder ...",t3_9ni0qp
282,282,e7n0hyj,t3_9ni0qp,"Moron: Dur, Rolls are €5.50, dats expensive!\n...",t3_9ni0qp
283,283,e7mst75,t1_e7mphjd,"Don't worry lad, this proud Republic never lea...",t3_9ni0qp
284,284,e7nt7dv,t1_e7mphjd,I don't think I've had a chicken fillet roll s...,t3_9ni0qp
285,285,e7msspt,t1_e7motzk,Costcutter on Aungier St. does a chicken fille...,t3_9ni0qp

In [59]:
df_chicken_post = pd.concat([df_cost_post, df_price_post], ignore_index=True)

In [60]:
df_chicken_post

,Unnamed: 0,title,score,id,url,comms_num,created,body
0,0,Cost of Chicken Rolls crisis,0,z9ucew,https://www.reddit.com/r/ireland/comments/z9uc...,5,2022-12-01 17:50:48,Ordered a roll today it was €5.00 for meat + 2...
1,1,Are they seriously trying to say burglaries ar...,0,yus6a0,https://www.reddit.com/r/ireland/comments/yus6...,34,2022-11-14 07:40:26,Just watching two twits on Virgin am bang on a...
2,2,How much does a chicken fillet roll cost in yo...,0,y47quq,https://www.reddit.com/r/ireland/comments/y47q...,9,2022-10-14 22:51:14,I go to college in limerick and the on-campus ...
3,3,Cheap and Easy Meal Plans to ease costs,24,xhrv7m,https://www.reddit.com/r/ireland/comments/xhrv...,18,2022-09-18 20:57:31,"I dont think its just me right now, but i cert..."
4,4,Still some good value out there!,26,x858hf,https://www.reddit.com/gallery/x858hf,39,2022-09-07 13:31:41,NaN
5,5,"Fellas, the boom is back, either that or weima...",11,s9ftsx,https://www.reddit.com/r/ireland/comments/s9ft...,26,2022-01-21 17:20:44,My mam decided to get me a roll (butter and ch...
6,6,Will you do more grocery shopping in the north...,0,rsx04s,https://www.reddit.com/r/ireland/comments/rsx0...,24,2021-12-31 16:03:30,Lots of items are already much cheaper in the ...
7,7,Judge picks a bone with cost of legal action i...,14,ocwsye,https://www.donegaldaily.com/2021/07/02/judge-...,14,2021-07-03 12:05:12,NaN
8,8,How many calories does a 3 in 1 from a Chinese...,0,k75ce3,https://www.reddit.com/r/ireland/comments/k75c...,13,2020-12-05 10:37:43,"Chips, curry, chicken balls and spice bag\n\nH..."
9,9,Trusting the system,0,i9asdn,https://www.reddit.com/r/ireland/comments/i9as...,8,2020-08-13 23:25:24,How do you go about trusting a system again wh...
10,10,What do you get on your chicken fillet rolls a...,3,bfbwnz,https://www.reddit.com/r/ireland/comments/bfbw...,30,2019-04-20 12:56:52,Just thought of the most Irish thing I could a...
11,11,Literally not one place does a 3 in 1 in the U...,27,bdx7w2,https://www.reddit.com/r/ireland/comments/bdx7...,41,2019-04-16 18:15:26,Been here a long time now and I have not found...
12,12,Where do you buy your meat?,5,a040zo,https://www.reddit.com/r/ireland/comments/a040...,45,2018-11-25 00:46:38,Just wondering. I spend 5 Euros on 3 chicken b...
13,13,Could you eat a three foot chicken fillet roll...,1,7yhkdn,https://streamable.com/zvi9y,10,2018-02-18 21:37:12,NaN
14,14,How do Irish farming practices compare to thos...,4,4fo6gj,https://www.reddit.com/r/ireland/comments/4fo6...,21,2016-04-20 16:29:21,You see some horrible things in footage of fac...
15,0,Chicken Scandal Rolls,0,zz4z0l,https://www.reddit.com/r/ireland/comments/zz4z...,11,2022-12-30 16:39:52,Most like the rest of the country. Christmas t...
16,1,"Before/After from a Yank, Part 2",229,z71pjf,https://www.reddit.com/r/ireland/comments/z71p...,127,2022-11-28 16:58:28,"The ""before"" can be found [here](https://www.r..."
17,2,Now €20 for a kebab - Zaytoon,278,ywhon1,https://www.reddit.com/r/ireland/comments/ywho...,117,2022-11-16 02:55:04,"I know there have been threads previously, but..."
18,3,Is anybody elses local chinese take away on th...,34,yjko7f,https://www.reddit.com/r/ireland/comments/yjko...,64,2022-11-01 20:40:43,"For what seems like forever, chinese was the o..."
19,4,"Almost too good to be true, spar on douglas st...",188,xx5j03,https://i.redd.it/gav6gsrav6s91.jpg,28,2022-10-06 13:39:23,NaN
20,5,Cost of living taking the absolute piss,216,xogeuq,https://www.reddit.com/r/ireland/comments/xoge...,278,2022-09-26 11:18:20,Whole chicken was 4.99 a month ago. Walk into ...
21,6,Cheap and Easy Meal Plans to ease costs,24,xhrv7m,https://www.reddit.com/r/ireland/comments/xhrv...,18,2022-09-18 20:57:31,"I dont think its just me right now, but i cert..."
22,7,Still some good value out there!,25,x858hf,https://www.reddit.com/gallery/x858hf,39,2022-09-07 13:31:41,NaN
23,8,"With talks of €7.45 for a chicken fillet roll,...",227,w4pwub,https://i.imgur.com/ja8EwIt.jpg,26,2022-07-21 19:49:00,NaN
24,9,I was sad until I went grocery shopping today!...,0,vdp3cf,https://www.reddit.com/r/ireland/comments/vdp3...,9,2022-06-16 15:51:58,I'd created a [post](https://www.reddit.com/r/...
25,10,List of ways to save serious money on food,607,tz1f3j,https://www.reddit.com/r/ireland/comments/tz1f...,349,2022-04-08 11:30:06,"Growing up in a ""thrifty"" household and then s..."
26,11,The most disappointed I’ve been since restrict...,1801,sri6lk,https://www.reddit.com/r/ireland/comments/sri6...,132,2022-02-13 13:03:19,Yesterday I had an amazing time. Was like the ...
27,12,Will you do more grocery shopping in the north...,1,rsx04s,https://www.reddit.com/r/ireland/comments/rsx0...,24,2021-12-31 16:03:30,Lots of items are already much cheaper in the ...
28,13,Is Irish beef considered good in Ireland?,0,nxg988,https://www.reddit.com/r/ireland/comments/nxg9...,45,2021-06-11 13:41:24,I've been thinking about this for several year...
29,14,Question about Ireland and pricing! So a local...,1,hkoztb,https://i.redd.it/zet17zdcyo851.jpg,44,2020-07-03 19:10:22,NaN
30,15,What can €1 actually buy you these days?,5,ha52zg,https://www.reddit.com/r/ireland/comments/ha52...,26,2020-06-16 14:30:12,"If you walked into a supermarket, discounter o..."
31,16,Have we reached peak chicken fillet roll price...,32,belv3j,https://imgur.com/aKFmXjp,18,2019-04-18 13:58:01,NaN
32,17,Home economics classes for adults?,23,aksz2l,https://www.reddit.com/r/ireland/comments/aksz...,35,2019-01-28 22:27:45,Does such a thing exist?\n\nMy (21F) partner (...
33,18,Dublin City University student reacts after hi...,81,9ni0qp,https://www.dublinlive.ie/news/dublin-news/dcu...,61,2018-10-12 06:52:14,NaN
34,19,"Tips for dealing with the raw, red devil that ...",0,8utui8,https://www.reddit.com/r/ireland/comments/8utu...,11,2018-06-29 15:07:21,Feeling like a price of dry southern fried chi...

In [61]:
df_chicken_comments = pd.concat([df_cost_comment, df_price_comment], ignore_index=True)

In [62]:
df_chicken_comments

,Unnamed: 0,comment_id,comment_parent_id,comment_body,comment_link_id
0,0,iyim5h2,t3_z9ucew,Leo has spoken.\nChicken rolls cost just as mu...,t3_z9ucew
1,1,iyildmx,t3_z9ucew,It's the price of flour,t3_z9ucew
2,2,iyjvqmh,t3_z9ucew,It is the cost of electricity doing it to be h...,t3_z9ucew
3,3,iwb0bda,t3_yus6a0,"No, that chicken fillet roll may not push you ...",t3_yus6a0
4,4,iwb0zl5,t3_yus6a0,"You've misunderstood what they are saying, the...",t3_yus6a0
...,...,...,...,...,...
370,281,e7mphjd,t3_9ni0qp,"I’m abroad and sickly currently, would murder ...",t3_9ni0qp
371,282,e7n0hyj,t3_9ni0qp,"Moron: Dur, Rolls are €5.50, dats expensive!\n...",t3_9ni0qp
372,283,e7mst75,t1_e7mphjd,"Don't worry lad, this proud Republic never lea...",t3_9ni0qp
373,284,e7nt7dv,t1_e7mphjd,I don't think I've had a chicken fillet roll s...,t3_9ni0qp
374,285,e7msspt,t1_e7motzk,Costcutter on Aungier St. does a chicken fille...,t3_9ni0qp

In [63]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer(max_features=1000, lowercase=True, analyzer='word',
 stop_words= 'english',ngram_range=(1,1))

train_vect = tfidf.fit_transform(df_chicken_post['title'])

train_vect

<35x161 sparse matrix of type '<class 'numpy.float64'>'
	with 229 stored elements in Compressed Sparse Row format>

In [64]:
print(train_vect)

  (0, 36)	0.6213042276108399
  (0, 123)	0.5302320263979146
  (0, 26)	0.3896624385970461
  (0, 34)	0.4254388779618786
  (1, 84)	0.36627766305734516
  (1, 20)	0.40889367179840763
  (1, 126)	0.40889367179840763
  (1, 144)	0.40889367179840763
  (1, 128)	0.40889367179840763
  (1, 36)	0.36627766305734516
  (1, 34)	0.250809106181104
  (2, 130)	0.5112667876696634
  (2, 85)	0.42017443083567013
  (2, 122)	0.3466305681839179
  (2, 58)	0.32908207400167677
  (2, 42)	0.39084924194130277
  (2, 26)	0.2872313650559489
  (2, 34)	0.3136032051352768
  (3, 35)	0.4137422721736417
  (3, 47)	0.4137422721736417
  (3, 104)	0.4137422721736417
  (3, 88)	0.3795874880484879
  (3, 48)	0.4137422721736417
  (3, 25)	0.4137422721736417
  (4, 150)	0.7606549559863789
  :	:
  (31, 58)	0.26578047885168754
  (31, 26)	0.23198009182780643
  (32, 9)	0.5128261135598422
  (32, 29)	0.5128261135598422
  (32, 50)	0.5128261135598422
  (32, 68)	0.459377983531344
  (33, 107)	0.2989462037166149
  (33, 118)	0.2989462037166149
  (33, 87)	0.2989462037166149
  (33, 63)	0.2989462037166149
  (33, 145)	0.2989462037166149
  (33, 115)	0.2989462037166149
  (33, 134)	0.2989462037166149
  (33, 149)	0.2989462037166149
  (33, 28)	0.2989462037166149
  (33, 46)	0.2989462037166149
  (33, 122)	0.20268066486976333
  (33, 58)	0.1924197681261367
  (33, 26)	0.16794896176063906
  (34, 135)	0.408248290463863
  (34, 39)	0.408248290463863
  (34, 117)	0.408248290463863
  (34, 113)	0.408248290463863
  (34, 38)	0.408248290463863
  (34, 140)	0.408248290463863

In [65]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(max_features=1000, lowercase=True, ngram_range=(1,1),analyzer = "word")
train_bow = bow.fit_transform(df_chicken_post['title'])
train_bow

<35x232 sparse matrix of type '<class 'numpy.int64'>'
	with 400 stored elements in Compressed Sparse Row format>

In [66]:
print(train_bow)

  (0, 46)	1
  (0, 130)	1
  (0, 38)	1
  (0, 164)	1
  (0, 49)	1
  (1, 46)	1
  (1, 130)	1
  (1, 49)	1
  (1, 19)	2
  (1, 193)	1
  (1, 170)	1
  (1, 204)	1
  (1, 199)	1
  (1, 167)	1
  (1, 31)	1
  (1, 211)	1
  (1, 138)	1
  (1, 190)	1
  (1, 109)	1
  (2, 46)	1
  (2, 38)	1
  (2, 91)	1
  (2, 123)	1
  (2, 56)	1
  (2, 74)	1
  :	:
  (33, 74)	1
  (33, 163)	1
  (33, 11)	1
  (33, 61)	1
  (33, 40)	1
  (33, 209)	1
  (33, 181)	1
  (33, 156)	1
  (33, 88)	1
  (33, 205)	1
  (33, 80)	1
  (33, 112)	1
  (33, 159)	1
  (33, 148)	1
  (34, 190)	1
  (34, 99)	1
  (34, 189)	1
  (34, 226)	1
  (34, 79)	1
  (34, 198)	1
  (34, 51)	1
  (34, 154)	1
  (34, 158)	1
  (34, 52)	1
  (34, 183)	1

In [69]:
#!pip install textblob

In [70]:
from textblob import TextBlob
df_chicken_post['sentiment'] = df_chicken_post['title'].apply(lambda x: TextBlob(x).sentiment[0] )
df_chicken_post[['title','sentiment']].head()

                                               title  sentiment
0                       Cost of Chicken Rolls crisis  -0.600000
1  Are they seriously trying to say burglaries ar...  -0.333333
2  How much does a chicken fillet roll cost in yo...  -0.133333
3            Cheap and Easy Meal Plans to ease costs   0.416667
4                   Still some good value out there!   0.875000

In [71]:
df_chicken_post[['title','sentiment']]

                                                title  sentiment
0                        Cost of Chicken Rolls crisis  -0.600000
1   Are they seriously trying to say burglaries ar...  -0.333333
2   How much does a chicken fillet roll cost in yo...  -0.133333
3             Cheap and Easy Meal Plans to ease costs   0.416667
4                    Still some good value out there!   0.875000
5   Fellas, the boom is back, either that or weima...   0.000000
6   Will you do more grocery shopping in the north...   0.500000
7   Judge picks a bone with cost of legal action i...  -0.100000
8   How many calories does a 3 in 1 from a Chinese...   0.250000
9                                 Trusting the system   0.000000
10  What do you get on your chicken fillet rolls a...  -0.200000
11  Literally not one place does a 3 in 1 in the U...   0.000000
12                        Where do you buy your meat?   0.000000
13  Could you eat a three foot chicken fillet roll...  -0.151111
14  How do Irish farming practices compare to thos...   0.000000
15                              Chicken Scandal Rolls  -0.600000
16                   Before/After from a Yank, Part 2   0.000000
17                      Now €20 for a kebab - Zaytoon   0.000000
18  Is anybody elses local chinese take away on th...   0.000000
19  Almost too good to be true, spar on douglas st...   0.525000
20            Cost of living taking the absolute piss   0.200000
21            Cheap and Easy Meal Plans to ease costs   0.416667
22                   Still some good value out there!   0.875000
23  With talks of €7.45 for a chicken fillet roll,...  -0.275000
24  I was sad until I went grocery shopping today!...  -0.625000
25         List of ways to save serious money on food  -0.333333
26  The most disappointed I’ve been since restrict...  -0.125000
27  Will you do more grocery shopping in the north...   0.500000
28          Is Irish beef considered good in Ireland?   0.350000
29  Question about Ireland and pricing! So a local...  -0.200000
30           What can €1 actually buy you these days?   0.000000
31  Have we reached peak chicken fillet roll price...  -0.600000
32                 Home economics classes for adults?   0.000000
33  Dublin City University student reacts after hi...  -0.450000
34  Tips for dealing with the raw, red devil that ...  -0.115385